{% extends "blog/base.html" %}

{% block title %}Blog Posts - Django Blog{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>

  {% if user.is_authenticated %}
    <p><a href="{% url 'post-create' %}">+ Create New Post</a></p>
  {% else %}
    <p><a href="{% url 'login' %}">Log in</a> to create a new post.</p>
  {% endif %}

  {% if posts %}
      <ul>
        {% for post in posts %}
          <li>
            <h3>
              <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
            </h3>
            <small>
              By {{ post.author.username }} • {{ post.published_date }}
            </small>
            <p>{{ post.content|truncatewords:20 }}</p>
          </li>
        {% endfor %}
      </ul>
  {% else %}
      <p>No posts yet.</p>
  {% endif %}
{% endblock %}
